<!-- Template: deck-profile-01 -->
<div id="deckOne" class="anchorScreen">

	<!-- Header !no header found! -->	

	<!-- Content -->
	<!-- Profile picture 150x150 -->
	<div class="content">
		<div class="container">
		<div class="row">
			<div class="col span-12" id="deck-prof-user-pic"><img src="ph/ph-quader-150x150.png" class="circle-100"></div>
			<div class="col span-12 tx-form-233" id="deck-prof-user-name">Username</div>
			<div class="col span-12 tx-form-133">
			<div class="col span-2"></div>
			<div class="col span-8" id="deck-prof-user-about">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</div>
		    </div>
			<div class="col span-2"></div>
  	    </div> <!-- row -->
		
	<!-- Statistic value -->
	<div class="row">
	<div class="col span-12" style="font-size:2rem;margin-top:30px;">
	<div class="col span-2"></div>
	<div class="col span-8">
		<ul>
			<li class="col span-4 tx-tc " id="deck-prof-stat-val-01">12</li>
			<li class="col span-4 tx-tc " id="deck-prof-stat-val-02">35</li>
			<li class="col span-4 tx-tc " id="deck-prof-stat-val-03">28</li>
		</ul>
	</div>	
	<div class="col span-2"></div>
	</div>
    </div> <!-- row -->

	<!-- Statistic description -->
	<div class="row">
	<div class="col span-12" style="font-size:1rem;">
	<div class="col span-2"></div>
	<div class="col span-8">
		<ul>
			<li class="col span-4 tx-tc " id="deck-prof-stat-desc-01">Followers</li>
			<li class="col span-4 tx-tc " id="deck-prof-stat-desc-01">Posts</li>
			<li class="col span-4 tx-tc " id="deck-prof-stat-desc-01">Likes</li>
		</ul>
	</div>
	<div class="col span-2"></div>
    </div>
    </div> <!-- row -->

   	</div> <!-- Container -->
   	</div> <!-- Content -->
   	
	<!-- Footer -->	
	<div id="footer">	
	<div class="container">
	<div class="row">
		<ul>
			<li class="col span-4 tx-tc anchorOne"><img src="ph/moockup-nav-icon-32.png"></li>
			<li class="col span-4 tx-tc anchorTwo"><img src="ph/moockup-nav-icon-32.png"></li>
			<li class="col span-4 tx-tc anchorThree"><img src="ph/moockup-nav-icon-32.png"></li>
		</ul>
	</div>
	</div>	
	</div>
	
</div>
